:root {
    --blue-heading: rgb(32, 121, 199);
    --grey-heading:rgb(120,120,120);
    
  }



.main{
    display: flex;
    flex-wrap: wrap;
    
}

.main__information{
    flex: 100%;
    padding: 20px;
  
   
}

.main__skillset{
    flex: 100%;
    padding: 20px;

   
   
}

.main__information__details__name{
    height: 1.21in;
    display: flex;
    align-items: center;
}
.main__information__details__name--styled{
    font-size: 30pt;
    width: 20px;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}
.main__information__details__name__image{
    float: left;
    height:auto ;
    width: 1.21in;
    border-radius: 50%;
}
.main__information__details__address p{
    margin: 0px;;

}
.main__skillset__skills section ul{
    display: flex;
    flex-wrap: wrap;
    
}

.main__skillset__skills section ul li{
   flex: 50%;
   font-size: 10pt;
   
}
.main__skillset__languages  ul{
    display: flex;
    flex-wrap: wrap;
    
}

.main__skillset__languages ul li{
   flex: 50%;
   font-size: 10pt;
   
}
.main__skillset__projects  ul{
    display: flex;
    flex-wrap: wrap;
    
}

.main__skillset__projects ul li{
   flex: 50%;
   font-size: 10pt;
   padding: 5px;
   
}


   .main__information__education--blue{
       color: var(--blue-heading);
       font-weight: bold;
       font-family: sans-serif;
       text-transform: uppercase;
   }

   .main__information__research--blue{
    color: var(--blue-heading);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
   }

   .main__skillset__skills--blue{
    color: var(--blue-heading);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
   }
   .main__skillset__languages--blue{
    color: var(--blue-heading);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
   }
   .main__skillset__projects--blue{
    color: var(--blue-heading);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
   }

   a{
    text-decoration: underline;
   }
   .main__information__details__education--grey{
       font-family: sans-serif;
       color: var(--grey-heading);
       font-size: 9pt;
   }

@media(min-width:361px){

   
    

.main__information{
    flex: 30%;
   
}

.main__skillset{
    flex: 30%;
   
   
   

}
.main__skillset__skills section ul li{
    flex: 100%;
    font-size: 12pt;
}
    .main__skillset__languages ul li{
        flex: 100%;
        font-size: 12pt;
    }
        .main__skillset__projects ul li{
            flex: 100%;
            font-size: 12pt;
            padding: 5px;
        }
    .main__information__details__name--styled{
       
        margin-left: 15px;
    }
}

@media(min-width:540px){

   
    .main__skillset{
        flex: 30%;
        padding-left: 70px;
        padding-top: 170px;
      
    
    }
    

}

@media(min-width: 1000px){
    .main{
        margin-left: 20%;
    }
}
